In [4]:
import pandas as pd
import networkx as nx
df = pd.read_csv("rate.csv")

In [5]:
df.head()

      From       To  Rate
0    ROMUL  AMBROSE     2
1    ROMUL    PETER     3
2    ROMUL   ALBERT     1
3  BONAVEN    ROMUL     3
4  BONAVEN   VICTOR     2

In [10]:
G_panda = nx.from_pandas_edgelist(df, 'From', 'To', edge_attr= 'Rate' , create_using=nx.DiGraph())

In [11]:
create_using = nx.DiGraph()
nx.shell_layout(G_panda)

{'ROMUL': array([1.00000000e+00, 3.14580078e-08]),
 'AMBROSE': array([0.93969262, 0.34202015]),
 'PETER': array([0.76604444, 0.64278764]),
 'ALBERT': array([0.49999997, 0.86602551]),
 'BONAVEN': array([0.17364824, 0.98480779]),
 'VICTOR': array([-0.17364818,  0.98480779]),
 'ELIAS': array([-0.50000006,  0.86602545]),
 'BERTH': array([-0.76604444,  0.64278769]),
 'LOUIS': array([-0.93969262,  0.34202024]),
 'GREG': array([-1.00000000e+00, -5.59647688e-08]),
 'HUGH': array([-0.93969262, -0.34202012]),
 'MARK': array([-0.7660445 , -0.64278752]),
 'JOHN': array([-0.49999991, -0.86602539]),
 'WINF': array([-0.17364812, -0.98480773]),
 'BASIL': array([ 0.17364816, -0.98480767]),
 'BONIFACE': array([ 0.49999991, -0.86602539]),
 'SIMP': array([ 0.76604432, -0.64278769]),
 'AMAND': array([ 0.93969256, -0.34202033])}